<footer class="container-fluid footer1" >        
        <div class="row icon"> 
        <div class="col-12 text-center">
        <a><i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
        <a><i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
        <a><i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
        <a><i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
        </div>
        </div>
        <div class="row">         
        <div class="col-12 footer-copyright text-center py-3 title text-center footer">© 2021 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        </div>        
</footer> 
     