<ng-sidebar-container> 
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="opened">
      <p>Sidebar contents</p>
      <button class="button" (click)="toggleSidebar()">cerrar</button>
      <ul class="menu">
          <li><a  href="/homepage/menu/usuarios/usuario">usuarios</a></li>
          <li><a href="/homepage/menu/usuarios/usuarios-create">productos</a></li>
      </ul>
    </ng-sidebar>
    <router-outlet></router-outlet>
    <!-- Page content -->
    <div ng-sidebar-content>
      <button class="button" (click)="toggleSidebar()">abrir sidebar</button>
    </div>  
  </ng-sidebar-container>