<div class="container">
    <button   class="b btn btn-info" type="submit" routerLink="/homepage/menu/usuarios/usuarios">
        <i class="fas fa-reply-all"></i></button>   
            <div class=" table-responsive">
                    <div class="card-header">
                        <h1 class="titulo">Usuarios</h1>
                    </div>
                    <div class="card-body " >
                        <table class="table table-hover">
                            <thead class="thead-dark "> 
                                <tr class="text-start">
                                    <th>Documento</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listadoUsuarios | paginate: { itemsPerPage: 6, currentPage: p }" >
                                <td class="infor">{{item.documento}}</td>
                                <td class="infor">{{item.nombre}}</td>
                                <td class="infor">{{item.apellido}}</td>
                                <td class="infor">{{item.direccion}}</td>
                                <td class="infor">{{item.telefono}}</td>
                                <td>
                                <button class="b3 btn btn-warning text-center" [routerLink]="['../usuarios-update',item]"><i class="fas2 fas fa-edit"></i></button>    
                                <button class="b3 btn btn-danger text-center" (click)="Eliminar(item.id)"><i class="fas2 fas fa-trash-alt"></i></button>                                  
                                </td>
                                </tr>           
                            </tbody>
                        </table>
                        <pagination-controls class="text-center"(pageChange)="p = $event" previousLabel="Anterios"nextLabel="Siguiente"></pagination-controls>
                    </div>
    </div>    
</div>
