.b 
  margin-right:0;
.b2
 margin-right:1em
 margin-top:1em;
.b3
 margin-top:1em;
.btn
    padding .2em;
    border-color: #737169;
    margin-bottom:1em;
    height: 2em
.fa-reply-all
     font-size: 1.5em;
     
.fa-times-circle
   font-size: 1.6em;

   