
<div class="container">
  <button   class="b btn btn-info" type="submit" routerLink="/homepage/menu/usuarios/usuarios">
    <i class="fas fa-reply-all"></i></button>   
  <div class="card">
    <div class="card-body row g-3">
        <form class="row g-3 needs-validation"  novalidate [formGroup] = "formUsuariosUpdate"(ngSubmit) = "Actualizar()">
            <div class="col-md-4 position-relative">
              <label for="validationTooltip02" class="form-label">Documento</label>
              <input formControlName="documento" type="text" class="form-control" id="Documento" >
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltip02" class="form-label">Nombres</label>
              <input formControlName="nombre" type="text" class="form-control" id="Nombres" >
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltipUsername" class="form-label">Apellidos</label>
              <div class="input-group has-validation">               
                <input formControlName="apellido" type="text" class="form-control" id="Apellidos">
              </div>
            </div>
            <div class="col-md-4 position-relative">
              <label for="validationTooltipdireccion" class="form-label">Direccion</label>
              <input formControlName="direccion" type="text" class="form-control" id="Direccion" >
            </div>
            <div class="col-md-4 position-relative">
                <label for="validationTooltip05" class="form-label">Telefono</label>
                <input formControlName="telefono" type="text" class="form-control" id="Telefono" >
              </div>           
            <div class="col-12">
               <button  class="b2 btn btn-primary" type="submit" [disabled]="formUsuariosUpdate.invalid">Actualizar</button>
               <button   class="b3 btn btn-info" type="submit" routerLink="/homepage/menu/usuarios/usuarios-list">
                <i class="fa fas fa-times-circle"></i></button> 
            </div>
          </form>
    </div>
  </div>
</div>
