.b 
 margin-bottom: .5em;
 margin-left: 1em; 
.btn-info 
   margin-left: 0; 
.b2  
   margin-left: 10px;
   height: 2em;
.btn
    padding .2em;
    border-color: #737169;
.fas
     font-size: 1.3em;
.titulo
   font-family: 'Times New Roman', serif;
   font-size: 3em;
   text-shadow: 4px 3px 3px #aaa;
.fa-eye
 font-size: 1.6em;
 