<div class="container">
   <button   class="b btn btn-info" type="submit" routerLink="/homepage/menu/usuarios/usuarios">
      <i class="fas fa-reply-all"></i></button>  
    <div class="card">
        <div class="card-header text-center" >
            <h2 class="titulo">Crear usuario</h2>
        </div>
        <div class="card-body">
           <form class="was-validated"[formGroup]= "usuariosForm" (ngSubmit)="Guardar()" >         
            <div class="row"><div class="col-sm-6"><div class="form-group">
            <label for="">Nombres</label>
            <input class="form-control" formControlName="nombre" type="text" placeholder="nombres" required>  
              <!--validaciones-->
             <div *ngIf="usuariosForm.get('nombre').invalid
             &&(usuariosForm.get('nombre').dirty || 
             usuariosForm.get('nombre').touched)">
             <div *ngIf="usuariosForm.get('nombre').errors.required">
                *El campo es <strong>requerido</strong>*
             </div></div><!--validaciones--> </div></div>
        <div class="col-sm-6"><div class="form-group">
            <label for="">Apellidos</label>
            <input class="form-control" formControlName="apellido" type="text" placeholder="apellidos" required>
             <!--validaciones-->
             <div *ngIf="usuariosForm.get('apellido').invalid
             &&(usuariosForm.get('apellido').dirty || 
             usuariosForm.get('apellido').touched)">
             <div *ngIf="usuariosForm.get('apellido').errors.required">
                *El campo es <strong>requerido</strong>*
             </div>   
             </div><!--validaciones-->    
        </div></div></div>
        <div class="row"><div class="col-sm-6">
        <div class="form-group">
            <label for=""> Direccion </label>
            <input class="form-control" formControlName="direccion" type="text" placeholder="direccion"required> 
            <!--validaciones-->
            <div *ngIf="usuariosForm.get('direccion').invalid
            &&(usuariosForm.get('direccion').dirty || 
            usuariosForm.get('direccion').touched)">
            <div *ngIf="usuariosForm.get('direccion').errors.required">
               *El campo es <strong>requerido</strong>*
            </div>   
            </div><!--validaciones-->
        </div></div>
        <div class="col-sm-4">
        <div class="form-group">
            <label for="">Telefono </label>
            <input class="form-control" formControlName="telefono" type="text" placeholder="telefono"required>
              <!--validaciones-->
              <div *ngIf="usuariosForm.get('telefono').invalid
              &&(usuariosForm.get('telefono').dirty || 
              usuariosForm.get('telefono').touched)">
              <div *ngIf="usuariosForm.get('telefono').errors.required">
                 *El campo es <strong>requerido</strong>*
              </div>  
              <div *ngIf="usuariosForm.get('telefono').errors.pattern">
                *El campo solo debe contener <strong>números</strong>*
            </div>    
              </div><!--validaciones-->  
        </div></div></div>  
        <div class="row"><div class="col-sm-6 form-group">             
           <label for="validationTextarea" class="form-label">Documento </label>
        <input class="form-control is-invalid"formControlName="documento" type="text" placeholder="documento" required> 
        <!--validaciones-->
        <div *ngIf="usuariosForm.get('documento').invalid
        &&(usuariosForm.get('documento').dirty || 
        usuariosForm.get('documento').touched)">
        <div *ngIf="usuariosForm.get('documento').errors.required">
           *El campo es <strong>requerido</strong>*
        </div>
        <div *ngIf="usuariosForm.get('documento').errors.pattern">
           *El campo solo debe contener <strong>números</strong>*
       </div>    
        </div><!--validaciones-->
       </div></div> 
      <button  class="btn btn-warning" type="submit"[disabled]="usuariosForm.invalid">Guardar</button>
      <button  class="b2 btn btn-info"type="submit"routerLink="/homepage/menu/usuarios/usuarios-list"><i class="far fa-eye"></i></button>          
    </form>
      </div>
     </div>
    </div>
 
    