.fa-reply-all
  font-size: 1.7em;
.fas2
   font-size: 1.2em;
.b
   margin-bottom: 10px;
.titulo 
   font-family: 'Times New Roman', serif;
   font-size: 3em;
   text-shadow: 4px 3px 3px #aaa;
.btn
    margin-right: 10px;
    margin-bottom:.5em;
    padding .2em;
    border-color: #737169;
.tr
  vertical-align: inherit;
  text-transform: capitalize;

@media screen and (max-width: 780px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}