<div class="container">
    <button   class="b1 btn btn-info" type="submit" routerLink="/homepage/menu/compras/compras">
        <i class="f1 fas fa-reply-all"></i></button>   
            <div class=" table-responsive">
                    <div class="card-header">
                        <h1 class="titulo">Compras</h1>
                    </div>
                    <div class="card-body " >
                        <table class="table table-hover">
                            <thead class="thead-dark "> 
                                <tr class="text-start">  
                                    <th>Documento</th>
                                    <th>Usuario</th>                                 
                                    <th>Cantidad</th>
                                    <th>Productos</th>
                                    <th>Precio</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr text-start"*ngFor="let item of listadoCompras| paginate: { itemsPerPage: 6, currentPage: p }">
                                <td>{{item.usuarios.documento}}</td>
                                <td>{{item.usuarios.nombre}} {{item.usuarios.apellido}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.producto.nombre}}</td>    
                                <td>$ {{item.producto.precio}}</td>  
                                <td>{{item.fecha}}</td>                                               
                                </tr>           
                            </tbody>
                        </table>
                        <pagination-controls class="text-center"(pageChange)="p = $event" previousLabel="Anterios"nextLabel="Siguiente"></pagination-controls>
                    </div>
    </div>    
</div>


