<div class="container">
    <button class="b1 btn btn-info"type="submit"routerLink="/homepage/menu/compras/compras" >   
    <i class="f1 fas fa-reply-all"></i></button>
<div class="card col-12">
        <div class="card-body">
        <form class="" [formGroup]="compraForm" (ngSubmit)="Guardar()">
            <div class="row ">
            <div class="col-sm-8">
                    <input class="form-control " type="text" placeholder="codigo producto" formControlName="codigo" >
                    <br></div>
                <div class="col-sm-4">
                    <input class="form-control " type="text" placeholder="cantidad" formControlName="cantidad" >
            </div>
            </div><br>             
            <div class="row">               
            <div class="col-12">
                <input class="form-control " type="text" placeholder="C.C Cliente" formControlName="documento" >
            </div>
            </div>    
        </form>
        <button  class="b3 btn btn-warning" type="submit"[disabled]="compraForm.invalid">Guardar</button>
        </div>
</div>    
</div>
