<div class="container">
    <button class="b1 btn btn-info" type="submit" routerLink="/homepage/menu/productos/producto">
        <i class="f1 fas fa-reply-all"></i></button>  
    <div class="card">
        <div class="card-header  text-center">
            <h2 class="titulo">Crear producto</h2>
        </div>
        <div class="card-body">
            <form  class="was-validated" [formGroup]="productoForm" (ngSubmit)="Guardar()">
               <div class="row">
                <div class="col-sm-4">
                <div class="form-group">
                <label for="validationTextarea" class="form-label">Codigo</label>                
                <input class="form-control is-invalid" type="text" placeholder="codigo del producto" formControlName="codigo" required>
             <!--validaciones-->
             <div *ngIf="productoForm.get('codigo').invalid&&(productoForm.get('codigo').dirty || productoForm.get('codigo').touched)">
             <div *ngIf="productoForm.get('codigo').errors.required">
                *El campo es <strong>requerido</strong>*
             </div>
             <div *ngIf="productoForm.get('codigo').errors.pattern">
                *El campo solo debe contener <strong>números</strong>*
            </div>    
             </div><!--validaciones-->
                </div>
               </div>
               <div class="col-sm-8">
               <div class="form-group">
                <label for="validationTextarea" class="form-label">Nombre</label>
                <input class="form-control is-invalid" type="text" placeholder="nombre del producto" formControlName="nombre"required>
                <!--validaciones-->  
                <div *ngIf="productoForm.get('nombre').invalid&&(productoForm.get('nombre').dirty || productoForm.get('nombre').touched)">
                <div *ngIf="productoForm.get('nombre').errors.required">
                   *El campo es <strong>requerido</strong>*
                </div>   
                </div><!--validaciones-->  
              </div> 
               </div>
              </div>
               <div class="row"><div class="col-sm-8">
               <div class="form-group">
                <label for="validationTextarea" class="form-label">Precio</label>
                <input class="form-control is-invalid" type="text" placeholder="precio $" formControlName="precio"required>
                <!--validaciones-->
                <div *ngIf="productoForm.get('precio').invalid&&(productoForm.get('precio').dirty || productoForm.get('precio').touched)">
                <div *ngIf="productoForm.get('precio').errors.required">
                 *El campo es <strong>requerido</strong>*
             </div>
             <div *ngIf="productoForm.get('precio').errors.pattern">
                *El campo solo debe contener <strong>números</strong>*
            </div>    
             </div><!--validaciones-->  
              </div>          
               </div>               
               <div class="col-sm-4"><div class="form-group">
                <label for="validationTextarea" class="form-label">Stock</label>  
                <input class="form-control is-invalid" type="text" placeholder="unidades en stock" formControlName="stock"required> 
              <!--validaciones--> 
               <div *ngIf="productoForm.get('stock').invalid&&(productoForm.get('stock').dirty || productoForm.get('stock').touched)">
               <div *ngIf="productoForm.get('stock').errors.required">
                 *El campo es <strong>requerido</strong>*
               </div>
               <div *ngIf="productoForm.get('stock').errors.pattern">
                 *El campo solo debe contener <strong>números</strong>*
               </div>    
              </div>
              <!--validaciones--> 
              </div>             
               </div></div>               
               <div class="col-12">
                <button class="b2 btn btn-warning" type="submit"[disabled]="productoForm.invalid">Guardar</button>
                <button class="b2 btn btn-info" type="submit" routerLink="/homepage/menu/productos/producto-list">
                <i class="far fa-eye"></i></button> 
                </div>      
            </form>
        </div>
    </div>
</div>

