.b1
    padding .2em;
    border-color: #737169;
.f1 
 font-size: 1.6em;
.b2
 margin-right: 10px;
 height: 2em;
 padding .2em;
 border-color: #737169;
.titulo
   font-family: 'Times New Roman', serif;
   font-size: 3em;
   text-shadow: 4px 3px 3px #aaa;
.card
  margin-top 1em;
.fa-eye
 font-size: 1.6em;