<div class="container">
    <div class="row">
    <div class="col-12">
    <div class="card " style="width: 18rem;">
        <img src="../../../assets/images/producto.jpg" class="card-img-top"  >
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    </div>
</div>
