<nav class="navbar navbar-expand-sm navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/homepage/menu">      
        <h1 class="title">Bienvenido</h1> </a> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown1" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown1">        
       <form class="form-inline ml-auto">
        <ul class="navbar-nav"> 
          <li class="nav-item">
            <button routerLink="/homepage/menu/productos/producto" class="btn btn-info">Productos
              <i class="fab fa-product-hunt"></i></button>
          </li>
          <li class="nav-item">
            <button routerLink="/homepage/menu/usuarios/usuarios" class="btn btn-info">Usuarios
              <i class="fas fa-users"></i> </button>
          </li>
          <li class="nav-item">
            <button class="btn btn-info" routerLink="/homepage/menu/compras/compras">Compras
            <i class="fab fa-shopify"></i></button>
          </li>
        </ul>        
       </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">        
      </div>
    </div>
  </nav>
  <!--
  <button  class="b" mat-icon-button [matMenuTriggerFor]="menu" >
    <a ><img class="img-fluid"src="../../../assets/images/angular.png"width="100" height="200 "></a>
    <mat-menu  #menu="matMenu">
      <ul class="ul navbar-nav text-center"> 
        <li class="nav-item">
          <button routerLink="/homepage/menu/productos/producto" class="btn2">
            <i class="fa1 fab fa-product-hunt"></i></button>
        </li>
        <li class="nav-item">
          <button routerLink="/homepage/menu/usuarios/usuarios" class="btn2">
            <i class="fa2 fas fa-users"></i></button>
        </li>
        <li class="nav-item">
          <button routerLink="/homepage/menu/compras/compras" class="btn2">
           <i class="fa3 fab fa-shopify"></i></button>
        </li>
      </ul>  
    </mat-menu>
  </button>
  -->
  <div id="menu_gral">
    <ul >
      <li>
        <a ><img class="img-fluid"src="../../../assets/images/angular.png"width="100" ></a>
          <ul class="ul navbar-nav text-center">
            <li><a routerLink="/homepage/menu/productos/producto"><i class="fa1 fab fa-product-hunt"></i></a></li>                 
            <li><a routerLink="/homepage/menu/usuarios/usuarios"><i class="fa2 fas fa-users"></i></a></li>
            <li><a routerLink="/homepage/menu//compras/compras"><i class="fa3 fab fa-shopify"></i></a></li>
          </ul>
      </li>      
    </ul>
  </div >