.title
 margin 0;
 color: white;
 font-family: 'Times New Roman', serif;
 font-size:1.5em;
.title:hover{
    color: #98d6ff;
}
.navbar
 background-color:#0792fff7;
.btn-info
    margin-bottom: .5em;
    margin-right: .1em;
    background-color:  #0094f5;
    font-weight: 500;
    border: 3px solid #dbf1ff;
    height:2.5em;   
.btn-info:hover{
    color: #1069ff;
    background-color: #98d6ff;
    }
.img-fluid
  background-color: white;

//pasos para quitar bordes de un boton
.b
  background-color: white;
  border: none;  
  outline:none; 
.btn2
  background-color: white;
  border: none;  
  outline:none;
  margin-top:1em;
.fa1 
 font-size:2.5em;
 color:#0f95ff;
.fa2 
 color:#0f95ff;
 font-size:2em;
 margin-top:.5em;
.fa3 
 color:#0f95ff;
 font-size:2em;
 margin-top:.5em;

#menu_gral > ul li {
    display: inline-block;
    position: relative;
    top:.2em;
}
#menu_gral li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}
#menu_gral li:hover ul,  {
    width: 100%;
}