<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="title">Compras</h1>
            <img src="../../../assets/images/compras.png"width="120"height="80">
        </div>
    </div>
    <div class="row">
        <div class="col-12 view">

        </div>
    </div>
    <div class="row">
        <ul class="ul col-9">
            <button class="btn btn-info" routerLink="/homepage/menu/compras/compras-list">Listar
            <i class="fas fa-list-ul"></i></button>
            <button class="btn btn-info" routerLink="/homepage/menu/compras/compras-create">
            <i class="fa2 fas fa-plus-circle"></i><hr>Registrar<br> compra</button>
        </ul>
    </div>
</div>
