<div class="container">
    <button   class="b1 btn btn-info" type="submit" routerLink="/homepage/menu/productos/producto">
      <i class="fas fa-reply-all"></i></button>   
    <div class="card">
      <div class="card-body row g-3">
          <form class="row g-3 needs-validation"  novalidate [formGroup] = "formProductoUpdate"(ngSubmit) = "Actualizar()">         
              <div class="col-md-4 position-relative">
                <label for="validationTooltip02" class="form-label">Codigo</label>
                <input formControlName="codigo" type="text" class="form-control" id="Codigo" >
              </div>
              <div class="col-md-4 position-relative">
                <label for="validationTooltip02" class="form-label">Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" id="Nombre" >
              </div>
              <div class="col-md-4 position-relative">
                <label for="validationTooltipUsername" class="form-label">Precio</label>
                <div class="input-group has-validation">               
                  <input formControlName="precio" type="text" class="form-control" id="¨Precio">
                </div>
              </div>
              <div class="col-md-4 position-relative">
                <label for="validationTooltipdireccion" class="form-label">Stock</label>
                <input formControlName="stock" type="text" class="form-control" id="Stock" >
              </div>             
              <div class="col-12">
                 <button  class="b2 btn btn-primary" type="submit" [disabled]="formProductoUpdate.invalid">Actualizar</button>
                 <button   class="b2 btn btn-info" type="submit" routerLink="/homepage/menu/productos/producto-list">
                  <i class="fa fas fa-times-circle"></i></button> 
              </div>
            </form>
      </div>
    </div>
  </div>
  
