.b1
 margin-bottom: 10px;
 padding .3em; 
 border-color: #737169;
.b2
    padding .2em;
    border-color: #737169;
    margin-bottom:1em;
    height: 2em
    margin-top: 10px;
    margin-right:1em;
.fa-reply-all
 font-size: 1.5em;
.fa-times-circle
 font-size:1.6em;