
<div class="container">
    <div class="row">
        <div class="col-11 col-lg-4 col-md-6">
           <form [formGroup]="searchForm" class="d-flex"  (ngSubmit)="searchUsuario()">
             <input autocomplete="off"  class="form-control me-2"  type="text" id="doc" formControlName="documento" name="documento" placeholder="buscar" aria-label="buscar" >                
             <button class="b" type="submit"><i class="fas fa-search"></i></button>
           </form> 
           <!--validaciones-->
           <div *ngIf="searchForm.get('documento').invalid&&(searchForm.get('documento').dirty || searchForm.get('documento').touched)">  
           <div *ngIf="searchForm.get('documento').errors.pattern">*El campo solo debe contener <strong>números</strong>*</div>    
           </div><!--validaciones-->  
        </div>
        <div class="card-body" >
            <table class="table table-hover">
                 <tbody>
                    <tr class="text-center" *ngIf="usuario" >
                    <td>Documento: {{usuario.documento}}</td>
                    <td>Nombre: {{usuario.nombre}}</td>
                    <td>Apellido: {{usuario.apellido}}</td>
                    <td>Direccion: {{usuario.direccion}}</td>
                    <td>Telefono: {{usuario.telefono}}</td>
                    </tr>           
                </tbody>
            </table>
        </div>

  </div>
</div>
