.fa-search
    margin-left: -2em;
    margin-top:0.5em;
    font-size:1.3em
    color: #0094f5;
.btn-1
    background-color: #f9f9f9;  
    font-weight: 600;
    font-size: 15px;
    color: #1069ff;
    border-radius: 2em;
    border: 3px solid #f9f9f9;    
    height:2.5em;   
.btn-1:hover{
    color: #98d6ff;    
    background-color: #fffbfb;
  }
.fa-search    
    margin-bottom: 1em;
    margin-right: 1em;

//pasos para quitar bordes de un boton
.b
  background-color: white;
  border: none;  
  outline:none;