<div class="container">
    <div class="row">
        <div class="col-11 col-lg-4 col-md-6">
            <form [formGroup]="searchForm" class="d-flex" (ngSubmit)="searchProducto()">
                <label for="codigo"></label>
                <input autocomplete="off"  class="form-control me-2"  type="text" id="codigo" formControlName="codigo" name="codigo" placeholder="buscar" aria-label="buscar" >
                <button class="b" type="submit"><i class="fas fa-search"></i></button>                              
            </form>
            <!--validaciones-->
            <div *ngIf="searchForm.get('codigo').invalid&&(searchForm.get('codigo').dirty || searchForm.get('codigo').touched)">  
            <div *ngIf="searchForm.get('codigo').errors.pattern">*El campo solo debe contener <strong>números</strong>*</div>    
            </div><!--validaciones-->  
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tbody>
                    <tr class="text-center" *ngIf="producto">
                        <td>Codigo: {{producto.codigo}}</td>
                        <td>Nombre: {{producto.nombre}}</td>
                        <td>Precio: {{producto.precio}}</td>
                        <td>Stock: {{producto.stock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
