.title
   font-family: 'Times New Roman', serif;
   font-size: 3em;
   text-shadow: 4px 3px 3px #aaa;
.ul
    margin-left: -4em;
.btn-info
    margin-right: .5em;
    background-color:  #0094f5;
    font-weight: 500;
    border: 3px solid #dbf1ff;
    height:2.5em;  
    position relative
    left 4em;
.btn-info:hover{
    color: #1069ff;
    background-color: #98d6ff;
    }

