<div class="container">
   <div class="row">      
   <div class="col-12  text-center"> 
      <h1 class="title">Productos</h1>   
      <img src="../../../assets/images/productos.jpg"width="80" height="60">  
   </div>
   </div>     
   <div class="row view">
      <div class="col-12 view">
         <app-producto-view></app-producto-view>
      </div>
   </div>
       <div class="row">
           <div class=" col-12">
               <ul class="col-9 ul">  
                <button routerLink="/homepage/menu/productos/producto-list"  class="btn btn-info">Listar
                   <i class="fas fa-list-ul"></i></button>
                <button routerLink="/homepage/menu/productos/producto-create"  class="btn btn-info">Crear
                   <i class="fas fa-plus-circle"></i></button> 
               </ul>
           </div>
        </div> 
   </div>
     
   