<div class="container">  
   <div class="row">      
   <div class="col-12  text-center"> 
      <h1 class="title">Usuarios</h1>
      <img src="../../../assets/images/icon.png"width="80" height="60">
   </div>
   </div>
 <div class="row">
    <div class="col-12  view">        
        <app-usuarios-view></app-usuarios-view>
    </div>     
 </div>   
    <div class="row">
        <div class="col-12">
            <ul class="ul col-9 ">  
             <button routerLink="/homepage/menu/usuarios/usuarios-list"  class="btn btn-info">Listar
                <i class="fas fa-list-ul"></i></button>
             <button routerLink="/homepage/menu/usuarios/usuarios-create"  class="btn btn-info">Crear
                <i class="fas fa-plus-circle"></i></button>               
            </ul>
        </div>
     </div> 
</div>
  
