.b1  
 padding .2em;
 border-color: #737169;
 margin-bottom:1 em;
.f1
    font-size: 1.6em;
.titulo 
   font-family: 'Times New Roman', serif;
   font-size: 3em;
   text-shadow: 4px 3px 3px #aaa;
.btn2
    margin-right: 10px;
    padding .2em;
    border-color: #737169;
.f2
     font-size: 1.2em;
.text 
    text-transform: capitalize;  
.table td, .table th {
    padding: .75rem;
    vertical-align: baseline;
    border-top: 1px solid #dee2e6;
}

@media screen and (max-width: 780px) {
       table {
           width:100%;
       }
       thead {
           display: none;
       }
       tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
           background: #f0f0f0;
           font-weight:bold;
           font-size:1.3em;
       }
       tbody td {
           display: block;
           text-align:center;
       }
       tbody td:before {
           content: attr(data-th);
           display: block;
           text-align:center;
       }
}