<div class="container">
    <button   class="b1 btn btn-info" type="submit" routerLink="/homepage/menu/productos/producto">
        <i class="f1 fas fa-reply-all"></i></button>   
            <div class=" table-responsive">
                    <div class="card-header">
                        <h1 class="titulo">Productos</h1>
                    </div>
                    <div class="card-body " >
                        <table class="table table-hover">
                            <thead class="thead-dark "> 
                                <tr class="text-start">
                                    <th>Codigo</th>
                                    <th>Nombre del Producto</th>
                                    <th>Precio</th>
                                    <th>Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text" *ngFor="let item of listadoProductos| paginate: { itemsPerPage: 6, currentPage: p }">
                                <td>{{item.codigo}}</td>
                                <td>{{item.nombre}}</td>
                                <td>$ {{item.precio}}</td>
                                <td>{{item.stock}} U/N</td>  
                                <td>                        
                                <button class="btn2 btn btn-warning" [routerLink]="['../producto-update',item]"><i class="f2 fas fa-edit"></i></button>    
                                <button class="btn2 btn btn-danger" (click)="Eliminar(item.id)"><i class="f2 fas fa-trash-alt"></i></button>                                 
                                </td>
                                </tr>           
                            </tbody>
                        </table>
                        <pagination-controls class="text-center"(pageChange)="p = $event" previousLabel="Anterios"nextLabel="Siguiente"></pagination-controls>
                    </div>
    </div>    
</div>

